<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Final Project</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
</head>
<body>
    <p>{{name}}!</p>
    <img src={{list[0]}} alt="HTML5 Icon" width="500" height="500">
      <table>
        <tr>
          <td> <h1> Lake Name</h1> </td>
          <td><h1> {{name}}</h1> </td>
        </tr>
        <tr>
          <td> <h1> Max_Depth</h1> </td>
          <td><h1> {{list[1]}}</h1> </td>
        </tr>
        <tr>
          <td> <h1> Altutude</h1> </td>
          <td><h1> {{list[2]}}</h1> </td>
        </tr>
        <tr>
          <td> <h1> Volume</h1> </td>
          <td><h1> {{list[3]}}</h1> </td>
        </tr>
        <tr>
          <td> <h1> Country</h1> </td>
          <td><h1> {{list[4]}}</h1> </td>
        </tr>
        <tr>
          <td> <h1> Continent</h1> </td>
          <td><h1> {{list[5]}}</h1> </td>
        </tr>
      </table>
</body>
</html>